@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 10;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #007491;
  color: white;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-dark text-white font-sans;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  .section {
    @apply py-20;
  }

  .preloader {
    @apply fixed inset-0 bg-dark flex items-center justify-center z-50;
  }

  .loader {
    @apply w-12 h-12 border-4 border-primary border-t-transparent rounded-full animate-spin;
  }
}
